* {
    font-family: Helvetica;
    text-align: center;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
}

.link {
  font-size: 18px;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}

h4 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
